<!DOCTYPE html>
<html>
<head>
  <base href="/">

  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Crypto Binance: Real-time cryptocurrency prices and trading">
  <meta name="keywords" content="cryptocurrency, binance, flutter, trading, prices">

  <meta name="google-signin-client_id" content="88532722027-lumq66j6k0d7m3c89kukgt9j5gbok0q7.apps.googleusercontent.com">
  
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Crypto Binance">
  <link rel="apple-touch-icon" href="icons/Icon-192.png">

  <link rel="icon" type="image/png" href="favicon.png"/>
  <link rel="manifest" href="manifest.json">

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/firebase-messaging-sw.js')
        .then((registration) => {
          console.log('Service Worker registrado:', registration);
        })
        .catch((err) => {
          console.log('Error al registrar Service Worker:', err);
        });
    }
  </script>

  <title>Crypto Binance</title>
</head>
<body>
  <script src="flutter_bootstrap.js" async></script>
</body>
</html>
